<!DOCTYPE html>

<ul class="sidebar-nav" id="sidebar">
	<li><a href="vender">Vender<span
			class="sub_icon glyphicon glyphicon-usd" title="Vendas"></span></a></li>
	<li><a href="**/estoque">Estoque<span
			class="sub_icon glyphicon glyphicon-check" title="Estoque"></span></a></li>
	<li><a href="fornecedores">Fornecedores<span
			class="sub_icon glyphicon glyphicon-download-alt"
			title="Fornecedores"></span></a></li>
	<li><a href="usuarios">Usuários<span
			class="sub_icon glyphicon glyphicon-user" title="Usuários"></span></a></li>
	<li><a href="historico">Histórico<span
			class="sub_icon glyphicon glyphicon-stats" title="Relatórios"></span></a></li>
	<li><a href="index">Sair<span
			class="sub_icon glyphicon glyphicon-off" title="Sair"></span></a></li>
</ul>